input {
	mouse {
		accel-speed -0.5
		accel-profile "flat"
	}
  mod-key "Super"
}

output "DP-1" {
  mode "3840x2160@160.001"
  scale 2.0
  position x=0 y=0
	background-color "#f7f7f7"
}

output "eDP-1" {
	mode "1920x1080@59.997"
  scale 1.0
	background-color "#f7f7f7"
}

output "HDMI-A-1" {
	position x=0 y=0
	background-color "#f7f7f7"
}

binds {
	// General
	Mod+Shift+Q { quit; }
	Mod+Shift+Slash { show-hotkey-overlay; }

	// Layout
	Mod+F { maximize-column; }
	Mod+Space { toggle-window-floating; }
	Mod+C { center-visible-columns; }
	Mod+O repeat=false { toggle-overview; }
	Mod+T { toggle-column-tabbed-display; }

	// Apps
	Mod+Return hotkey-overlay-title="Open Terminal" repeat=false { spawn "alacritty"; }
	Mod+W hotkey-overlay-title="Open Browser" repeat=false { spawn "firefox"; }
	Mod+E hotkey-overlay-title="Open Files" repeat=false { spawn "thunar"; }
	Mod+P hotkey-overlay-title="Open Launcher" repeat=false { spawn "wofi" "--show" "drun"; }
	Mod+Shift+X hotkey-overlay-title="Lock Screen" repeat=false { spawn "hyprlock"; }
	Mod+Shift+S hotkey-overlay-title="Screenshot" { screenshot; }
	Mod+Alt+S hotkey-overlay-title="Screenshot Window" { screenshot-window; }
	Print { screenshot-screen; }

	// Window
	Mod+Shift+C { close-window; }

	Mod+H { focus-column-left; }
	Mod+L { focus-column-right; }
	Mod+J { focus-window-or-workspace-down; }
	Mod+K { focus-window-or-workspace-up; }

	Mod+Shift+H { move-column-left; }
	Mod+Shift+L { move-column-right; }
	Mod+Shift+J { move-window-down-or-to-workspace-down; }
	Mod+Shift+K { move-window-up-or-to-workspace-up; }

	Mod+Ctrl+H { focus-monitor-left; }
	Mod+Ctrl+L { focus-monitor-right; }
	Mod+Ctrl+J { focus-monitor-down; }
	Mod+Ctrl+K { focus-monitor-up; }

	Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
	Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+K { move-column-to-monitor-up; }

	Mod+Alt+H { consume-or-expel-window-left; }
	Mod+Alt+L { consume-or-expel-window-right; }

	// Workspaces
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }

	Mod+Ctrl+1 { move-column-to-workspace 1; }
	Mod+Ctrl+2 { move-column-to-workspace 2; }
	Mod+Ctrl+3 { move-column-to-workspace 3; }
	Mod+Ctrl+4 { move-column-to-workspace 4; }
	Mod+Ctrl+5 { move-column-to-workspace 5; }
	Mod+Ctrl+6 { move-column-to-workspace 6; }
	Mod+Ctrl+7 { move-column-to-workspace 7; }
	Mod+Ctrl+8 { move-column-to-workspace 8; }
	Mod+Ctrl+9 { move-column-to-workspace 9; }

	// Scroll Wheel
	Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
	Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
	Mod+WheelScrollRight                { focus-column-right; }
	Mod+WheelScrollLeft                 { focus-column-left; }
	Mod+Ctrl+WheelScrollRight           { focus-column-right; }
	Mod+Ctrl+WheelScrollLeft            { focus-column-left; }

	// Touchpad
	Mod+TouchpadScrollDown cooldown-ms=150 { focus-workspace-down; }
	Mod+TouchpadScrollUp   cooldown-ms=150 { focus-workspace-up; }

	// Audio
	XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
	XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
	XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  // Brightness
  XF86MonBrightnessUp   { spawn "xbacklight" "-inc" "5"; }
  XF86MonBrightnessDown { spawn "xbacklight" "-dec" "5"; }
}

layout {
	gaps 8
	center-focused-column "never"
	always-center-single-column

	focus-ring {
		off
	}

	border {
		width 2
		active-color "#f7f7f7"
		inactive-color "#f7f7f7"
		urgent-color "#e46876"
	}

	shadow {
		on
		softness 32
		spread 0
		offset x=0 y=0
		color "#00000044"
	}

	tab-indicator {
		hide-when-single-tab
		place-within-column
		gap 0
		width 12
		length total-proportion=1.0
		position "top"
		gaps-between-tabs 0
	}

	struts {
		left 0
		right 0
		top 0
		bottom 0
	}

	background-color "#7c7c7c"
}


animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 15
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

gestures {
	    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y%m%d-%H%M%S.png"

environment {
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	GTK_THEME "adw-gtk3"
}

cursor {
	xcursor-theme "Quintom_Ink"
	xcursor-size 24
}

overview {
    zoom 0.5
    backdrop-color "#7c7c7c"

    workspace-shadow {
        softness 80
        spread 10
        offset x=0 y=0
        color "#000000FF"
    }
}
