window#waybar {
  background-color: @base00@;
}

.modules-left {
  margin-left: 0.8em;
}

.modules-right {
  margin-right: 0.8em;
}

tooltip {
  font-family: Iosevka Nerd Font Mono;
  font-size: 14px;
}

#window,
#workspaces,
#mpris,
#tray,
#pulseaudio,
#network,
#battery,
#custom-separator,
#clock {
  margin: 0.4em;
  font-family: Iosevka Nerd Font Mono;
  font-size: 14px;
  font-weight: 600;
  color: @base07@;
}

#workspaces button {
  padding: 0em 0.4em;
  margin: 0em 0.1em;
  color: @base03@;
}

#workspaces button.focused {
  color: @base0B@;
}

#workspaces button.urgent {
  color: @base08@;
}

window#waybar.empty #window {
  margin: 0em;
}
